<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Last.fm Heatmap</title>
</head>
<body>
    <h1>Last.fm Heatmap</h1>
    <form method="post">
        Last.fm Username: <input type="text" name="username">
        <input type="submit" value="Submit">
    </form>
    <div id="heatmap">
        {% if filename %}
            <h2>Heatmap:</h2>
            <img src="{{ filename }}" alt="Heatmap">
        {% endif %}
    </div>
</body>
</html>